selected_images/
cropped_selected_images/
build/
aidas.spec
dist/
__pycache__/
*.pyc
OCT Segmenter\Model\human_OCT.h5
.vscode/
segmenter_output/
aidas\__pycache__/*
aidas\steps\__pycache__/*
run_aidas.spec
